@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/normal/segoeui.eot');
	src: local("Segoe UI"),
		 local("Segoe"),
		 local("Segoe WP"),
		 url('https://win7.nota-robot.com/fonts/normal/segoeui.eot?#iefix') format('embedded-opentype'),
		 url('https://win7.nota-robot.com/fonts/normal/segoeui.woff') format('woff'),
		 url('https://win7.nota-robot.com/fonts/normal/segoeui.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Semibold';
	src: url('./fonts/semibold/seguisb.eot');
	src: local("Segoe Semibold"),
		 local("Segoe WP Semibold"),
		 url('https://win7.nota-robot.com/fonts/semibold/seguisb.eot?#iefix') format('embedded-opentype'),
		 url('https://win7.nota-robot.com/fonts/semibold/seguisb.woff') format('woff'),
		 url('https://win7.nota-robot.com/fonts/semibold/seguisb.svg#SegoeUISemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Bold';
	src: url('https://win7.nota-robot.com/fonts/bold/segoeuib.eot');
	src: local("Segoe Bold"),
		 local("Segoe WP Bold"),
		 url('https://win7.nota-robot.com/fonts/bold/segoeuib.eot?#iefix') format('embedded-opentype'),
		 url('https://win7.nota-robot.com/fonts/bold/segoeuib.woff') format('woff'),
		 url('https://win7.nota-robot.com/fonts/bold/segoeuib.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Light';
	src: url('https://win7.nota-robot.com/fonts/light/segoeuil.eot');
	src: local("Segoe UI Light"),
		 local("Segoe WP Light"),
		 url('https://win7.nota-robot.com/fonts/light/segoeuil.eot?#iefix') format('embedded-opentype'),
		 url('https://win7.nota-robot.com/fonts/light/segoeuil.woff') format('woff'),
		 url('https://win7.nota-robot.com/fonts/light/segoeuil.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}
.thing{
 margin-left: auto;
margin-right: auto;
}
button {
  	position: relative;
	display: inline-block;
	padding: 15px 25px;
background: linear-gradient(180deg, rgba(221,203,228,1) 0%, rgba(184,124,204,1) 50%, rgba(168,92,193,1) 51%, rgba(168,92,193,1) 52%, rgba(237,169,254,1) 100%);
  border: 2px white;
  color: #fff;
  border-radius: 6px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 0px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;

	/* text styles */
	font-family: sans-serif;
	font-weight: 100;
}
button:hover{
  background: linear-gradient(180deg, rgba(228,203,222,1) 0%, rgba(204,124,189,1) 50%, rgba(193,92,182,1) 51%, rgba(193,92,174,1) 52%, rgba(254,169,241,1) 100%);
  box-shadow: 0 0 10px #FFF;
}
button:active{
background: linear-gradient(180deg, rgba(228,203,222,1) 0%, rgba(204,124,189,1) 69%, rgba(193,92,182,1) 69%, rgba(193,92,174,1) 69%, rgba(193,92,174,1) 69%, rgba(254,169,241,1) 100%);
box-shadow: inset 0 0 10px #000000;
}

.window {
-webkit-box-shadow: 0 4px 25px rgba(0,0,0,1), inset -1px 0 rgba(255,255,255,0.8),inset 1px 0 rgba(255,255,255,0.8),inset 0px 1px rgba(255,255,255,0.8),inset 0px -1px rgba(255,255,255,0.8);
-moz-box-shadow: 0 4px 25px rgba(0,0,0,1), inset -1px 0 rgba(255,255,255,0.8),inset 1px 0 rgba(255,255,255,0.8),inset 0px 1px rgba(255,255,255,0.8),inset 0px -1px rgba(255,255,255,0.8);
color: black;
text-shadow: 0 0 1em white, 0 0 0.2em white;
font-family: Helvetica;
-webkit-backdrop-filter: blur(3px);
background:  rgba(111, 60, 162, 0.5);
backdrop-filter: blur(3px) saturate(150%);
-webkit-backdrop-filter: brightness(120%) blur(10px) saturate(150%);
border: 1px solid rgba(0,0,0,0.75);
border-radius: 6px;
margin-top: 8px;
padding: 8px;
max-width: 100%;
margin-left: auto;
margin-right: auto;
box-shadow: 0 4px 25px rgba(0,0,0,1), inset -1px 0 rgba(255,255,255,0.8),inset 1px 0 rgba(255,255,255,0.8),inset 0px 1px rgba(255,255,255,0.8),inset 0px -1px rgba(255,255,255,0.8);
z-index: 100;
background-image: url("https://raw.githubusercontent.com/psyclonepman/psyclonepman.github.io/main/128902-win7_reflection.png");
font-family: "Segoe UI"
}
.header {
  padding: 14px;
  text-align: center;
  background-image: linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
  color: white;
  font-size: 30px;
  font-family: "Segoe UI Light";
}
* {
  box-sizing: border-box;
}
body {
   background-image: url("https://psyclonepman.github.io/1315353.jpeg");
   background-size: cover;
     background-attachment: fixed;
}
a {
  color: #0099ff;
}

