@font-face {
	  font-family: "Comic Neue";
  font-weight: 400;
  font-style: normal;
}


}
.thing{
 margin-left: auto;
margin-right: auto;
}
button {
  	position: relative;
	display: inline-block;
	padding: 15px 25px;
 background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5158263989189426) 52%, rgba(255,255,255,0.3785714969581583) 52%, rgba(255,255,255,0.08165272945115543) 100%); 
  border: 2px white;
  color: #fff;
 text-shadow: #000 1px 0 2px;
  border-radius: 6px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 0px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;

	/* text styles */
	font-family: sans-serif;
	font-weight: 100;
}
button:hover{
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5158263989189426) 52%, rgba(255,255,255,0.3785714969581583) 52%, rgba(255,255,255,1) 100%); 
  box-shadow: 0 0 10px #FFF;
}
button:active{
 background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3785714969581583) 40%, rgba(255,255,255,0.5158263989189426) 71%, rgba(255,255,255,1) 100%); 
box-shadow: inset 0 0 10px #000000;
}

.window {
-webkit-box-shadow: 0 4px 25px rgba(0,0,0,1), inset -1px 0 rgba(255,255,255,0.8),inset 1px 0 rgba(255,255,255,0.8),inset 0px 1px rgba(255,255,255,0.8),inset 0px -1px rgba(255,255,255,0.8);
-moz-box-shadow: 0 4px 25px rgba(0,0,0,1), inset -1px 0 rgba(255,255,255,0.8),inset 1px 0 rgba(255,255,255,0.8),inset 0px 1px rgba(255,255,255,0.8),inset 0px -1px rgba(255,255,255,0.8);
color: white;
text-shadow: 0 0 1em black, 0 0 0.2em black, 0 0 0.4em black;
	  font-family: "Segoe UI";
  font-weight: 400;
  font-style: normal;
-webkit-backdrop-filter: blur(3px);
 background: transparent;
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3785714969581583) 31%, rgba(255,255,255,0.5158263989189426) 77%, rgba(255,255,255,1) 100%); 
backdrop-filter: blur(3px) saturate(150%);
-webkit-backdrop-filter: brightness(120%) blur(10px) saturate(150%);
border: 1px solid rgb(255,255,255);
border-radius: 0px;
margin-top: 8px;
padding: 8px;
max-width: 100%;
margin-left: auto;
margin-right: auto;
box-shadow: 0px 0px 10px black;
z-index: 100;
background-image: url("https://raw.githubusercontent.com/psyclonepman/psyclonepman.github.io/main/128902-win7_reflection.png");
font-family: "Segoe UI"
}
.header {
  padding: 14px;
  text-align: center;
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3785714969581583) 42%, rgba(255,255,255,0.5158263989189426) 77%, rgba(255,255,255,1) 100%); 
  color: black;
  font-size: 30px;
 	  font-family: "Comic Sans MS";
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
   background-image: url("https://psyclonepman.github.io/1315353.jpeg");
   background-size: cover;
     background-attachment: fixed;
}
a {
  color: #0099ff;
}

